{% extends 'base_layout.html' %}
{% block content %}

<div class='article'>
    <!-- <a class="btn btn-secondary" href="{% url 'article:edit-data' type=type slug=article.slug %}">Edit</a> -->
    <h2>{{article.title}}</h2>
    <p ><span class="article-headings"> Authors:</span>{{article.getAuthors}}</p>
    {% if article.journal %}
    <p ><span class="article-headings">Journal:</span>{{article.journal}}</p>
    {% endif %}
    <p><span class="article-headings">Description:</span>{{article.description}}</p>
    <p><span class="article-headings">Date:</span> {{article.pub_date.year}}</p>
    {% ifnotequal article.volume 0 %}
    <p ><span class="article-headings">Volume:</span> {{article.volume}}</p>
    {% endifnotequal %}
    <p><span class="article-headings">Pages:</span>{{article.pages}}</p>
    {% if article.citations %}
    <p><span>Citations:</span>{{article.citations}}</p>
    {% endif %}
    <a href="{{article.article_link}}">Link to article</a>
</div>
{% endblock %}