{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Publication Repository</title>
  </head>
  <body class="show-sidebar">
    
  
    
    <aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle active" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
      <div class="side-inner">
        {% if user.is_authenticated %}

        <div class="profile">
          <img src="{% static 'images/person_4.png' %}" alt="Image" class="img-fluid">
          <h3 class="name">Aman Shakya</h3>
          <span class="country">Pulchowk Campus</span>
        </div>
        {% endif %}

        
        <div class="nav-menu">
          
          <ul>
            {% if user.is_authenticated %}
            <li class="accordion">
              <a href="{% url 'article:list'%}" >
                <span class="icon-home mr-3"></span>Feed
              </a>
              
            </li>
            <li><a href="{% url 'article:profile' %}"><span class="icon-user mr-3"></span>Profile</a></li>
            <li class="accordion">
              <a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsible">
                <span class="icon-plus mr-3"></span>Create Entries
              </a>

              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne">
                <div>
                  <ul>
                    <li><a href="{% url 'article:create' type='journal'%}"><span class="icon-book mr-3"></span>Journal</a></li>
                    <li><a href="{% url 'article:create' type='conference'%}"><span class="icon-book mr-3"></span>Conference</a></li>
                    <li><a href="{% url 'article:create' type='Book'%}"><span class="icon-book mr-3"></span>Book</a></li>
                    <li><a href="{% url 'article:bibtex-upload' %}"><span class="icon-upload mr-3"></span>Bibtex Upload</a></li>
                  </ul>
                </div>
              </div>

            </li>
            
            
            
            

            {% else %}
            <li><a href="{% url 'accounts:login' %}"><span class="icon-key mr-3"></span>LogIn</a></li>
            <li><a href="{% url 'accounts:signup' %}"><span class="icon-key mr-3"></span>Sign Up</a></li>



            {% endif %}
           

          </ul>

        </div>
        {% if user.is_authenticated %}
        <div style="position: absolute;bottom: 25px; width: 80% ;margin-left:10px;">
        <form action="{% url 'accounts:logout' %}" method="POST">
            {%csrf_token%}
            <button type="submit" class="btn btn-danger  btn-block "><span ></span>sign Out</buttton>
        </form>
        {% endif %}
        </div>
      
      
    </aside>
    <main>
      <div class="site-section">
        <div class="container">
          <div class="row justify-content-center">





           
              
                <div class="secondhalf">
                  {% block content %}
                  {% endblock %}
                </div>
                

                
                

                
                

                
                
            


          </div>
        </div>
      </div>  
    </main>
    
    

    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>